*.hoi4
src/discordRPC/dist/
src/discordRPC/build/
src/dist/
src/build/
*.exe
__pycache__/
/dist/
/build/
hoi4-presence*/
*.zip
.venv/
flags/
releasedCountries.py
initialCountries.py
tools/flags/
tools/releasedCountries.py
tools/initialCountries.py